WebETD (24-05-2017)/App_WebReferences/EmailService/Mail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendEmailService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendEmailServiceResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendEmailServiceSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmailService" />
  </wsdl:message>
  <wsdl:message name="SendEmailServiceSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailServiceResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailServiceHttpGetIn">
    <wsdl:part name="from" type="s:string" />
    <wsdl:part name="to" type="s:string" />
    <wsdl:part name="cc" type="s1:StringArray" />
    <wsdl:part name="subject" type="s:string" />
    <wsdl:part name="message" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendEmailServiceHttpGetOut" />
  <wsdl:message name="SendEmailServiceHttpPostIn">
    <wsdl:part name="from" type="s:string" />
    <wsdl:part name="to" type="s:string" />
    <wsdl:part name="cc" type="s1:StringArray" />
    <wsdl:part name="subject" type="s:string" />
    <wsdl:part name="message" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendEmailServiceHttpPostOut" />
  <wsdl:portType name="MailSoap">
    <wsdl:operation name="SendEmailService">
      <wsdl:input message="tns:SendEmailServiceSoapIn" />
      <wsdl:output message="tns:SendEmailServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MailHttpGet">
    <wsdl:operation name="SendEmailService">
      <wsdl:input message="tns:SendEmailServiceHttpGetIn" />
      <wsdl:output message="tns:SendEmailServiceHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MailHttpPost">
    <wsdl:operation name="SendEmailService">
      <wsdl:input message="tns:SendEmailServiceHttpPostIn" />
      <wsdl:output message="tns:SendEmailServiceHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailSoap" type="tns:MailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendEmailService">
      <soap:operation soapAction="http://tempuri.org/SendEmailService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailSoap12" type="tns:MailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendEmailService">
      <soap12:operation soapAction="http://tempuri.org/SendEmailService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailHttpGet" type="tns:MailHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SendEmailService">
      <http:operation location="/SendEmailService" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailHttpPost" type="tns:MailHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SendEmailService">
      <http:operation location="/SendEmailService" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Mail">
    <wsdl:port name="MailSoap" binding="tns:MailSoap">
      <soap:address location="http://websrv01.dci.daikin.co.jp/sendemailservice/Mail.asmx" />
    </wsdl:port>
    <wsdl:port name="MailSoap12" binding="tns:MailSoap12">
      <soap12:address location="http://websrv01.dci.daikin.co.jp/sendemailservice/Mail.asmx" />
    </wsdl:port>
    <wsdl:port name="MailHttpGet" binding="tns:MailHttpGet">
      <http:address location="http://websrv01.dci.daikin.co.jp/sendemailservice/Mail.asmx" />
    </wsdl:port>
    <wsdl:port name="MailHttpPost" binding="tns:MailHttpPost">
      <http:address location="http://websrv01.dci.daikin.co.jp/sendemailservice/Mail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>