WebETD (24-05-2017)/App_WebReferences/CRService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDataCRNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LabelNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataCRNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataCRNumberResult" type="tns:MDService" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MDService">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ListData" type="tns:ArrayOfCMDService" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCMDService">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CMDService" nillable="true" type="tns:CMDService" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CMDService">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LabelNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PipeNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RearNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetListDataSerialNoAndCR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pallet" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDataSerialNoAndCRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListDataSerialNoAndCRResult" type="tns:MDService" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MDService" nillable="true" type="tns:MDService" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataCRNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataCRNumber" />
  </wsdl:message>
  <wsdl:message name="GetDataCRNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataCRNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetListDataSerialNoAndCRSoapIn">
    <wsdl:part name="parameters" element="tns:GetListDataSerialNoAndCR" />
  </wsdl:message>
  <wsdl:message name="GetListDataSerialNoAndCRSoapOut">
    <wsdl:part name="parameters" element="tns:GetListDataSerialNoAndCRResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataCRNumberHttpGetIn">
    <wsdl:part name="LabelNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataCRNumberHttpGetOut">
    <wsdl:part name="Body" element="tns:MDService" />
  </wsdl:message>
  <wsdl:message name="GetListDataSerialNoAndCRHttpGetIn">
    <wsdl:part name="Pallet" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetListDataSerialNoAndCRHttpGetOut">
    <wsdl:part name="Body" element="tns:MDService" />
  </wsdl:message>
  <wsdl:message name="GetDataCRNumberHttpPostIn">
    <wsdl:part name="LabelNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataCRNumberHttpPostOut">
    <wsdl:part name="Body" element="tns:MDService" />
  </wsdl:message>
  <wsdl:message name="GetListDataSerialNoAndCRHttpPostIn">
    <wsdl:part name="Pallet" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetListDataSerialNoAndCRHttpPostOut">
    <wsdl:part name="Body" element="tns:MDService" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetDataCRNumber">
      <wsdl:input message="tns:GetDataCRNumberSoapIn" />
      <wsdl:output message="tns:GetDataCRNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListDataSerialNoAndCR">
      <wsdl:input message="tns:GetListDataSerialNoAndCRSoapIn" />
      <wsdl:output message="tns:GetListDataSerialNoAndCRSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="GetDataCRNumber">
      <wsdl:input message="tns:GetDataCRNumberHttpGetIn" />
      <wsdl:output message="tns:GetDataCRNumberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListDataSerialNoAndCR">
      <wsdl:input message="tns:GetListDataSerialNoAndCRHttpGetIn" />
      <wsdl:output message="tns:GetListDataSerialNoAndCRHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="GetDataCRNumber">
      <wsdl:input message="tns:GetDataCRNumberHttpPostIn" />
      <wsdl:output message="tns:GetDataCRNumberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListDataSerialNoAndCR">
      <wsdl:input message="tns:GetListDataSerialNoAndCRHttpPostIn" />
      <wsdl:output message="tns:GetListDataSerialNoAndCRHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataCRNumber">
      <soap:operation soapAction="http://tempuri.org/GetDataCRNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDataSerialNoAndCR">
      <soap:operation soapAction="http://tempuri.org/GetListDataSerialNoAndCR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataCRNumber">
      <soap12:operation soapAction="http://tempuri.org/GetDataCRNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDataSerialNoAndCR">
      <soap12:operation soapAction="http://tempuri.org/GetListDataSerialNoAndCR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetDataCRNumber">
      <http:operation location="/GetDataCRNumber" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDataSerialNoAndCR">
      <http:operation location="/GetListDataSerialNoAndCR" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetDataCRNumber">
      <http:operation location="/GetDataCRNumber" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDataSerialNoAndCR">
      <http:operation location="/GetListDataSerialNoAndCR" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://websrv01.dci.daikin.co.jp/FindCRNumberService/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://websrv01.dci.daikin.co.jp/FindCRNumberService/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://websrv01.dci.daikin.co.jp/FindCRNumberService/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://websrv01.dci.daikin.co.jp/FindCRNumberService/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>